@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  font-family: inter;
  margin: 0;
  padding: 0;
  background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
